[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-autocomplete-light = "*"
django-mptt = "*"
django-model-utils = "*"
django-leaflet = "*"
carto = "*"
celery = "*"
unicef-djangolib = "*"

[dev-packages]
django = "*"
pytest = "*"
pytest-echo = "*"
pytest-coverage = "*"
tox-pipenv = "*"
tox = "==3"
pytest-django = "*"
pytest-pythonpath = "*"
djangorestframework = "*"
"psycopg2" = "*"
factory-boy = "*"
mock = "*"
drf-api-checker = "*"
django-webtest = "*"
pdbpp = "*"
pytest-html = "==1.18.0"

[requires]
python_version = "3.6"

[scripts]
test = "tox -e d20"
