[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-autocomplete-light = "*"
django-mptt = "*"
django-model-utils = "*"
django-leaflet = "*"
carto = "*"
celery = "*"
unicef-djangolib = "*"

[dev-packages]
pytest = "==3.6.3"
pytest-echo = "==1.6.0"
pytest-cov = "==2.5.1"
tox-pipenv = "==1.6.0"
tox = "==3.0.0"
pytest-django = "==3.3.2"
pytest-pythonpath = "==0.7.2"
djangorestframework = "*"
"psycopg2" = "*"
factory-boy = "*"
drf-api-checker = "*"
django-webtest = "*"
pdbpp = "*"

[requires]
python_version = "3.6"

[scripts]
test = "tox -e d20"
