[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-autocomplete-light = "*"
django-mptt = ">=0.10"
django-model-utils = "*"
django-leaflet = "*"
carto = "*"
celery = "*"
unicef-djangolib = "*"

[dev-packages]
pytest = "*"
pytest-echo = "*"
pytest-cov = "*"
tox-pipenv = "==1.6.0"
pytest-django = "*"
pytest-pythonpath = "*"
djangorestframework = "*"
"psycopg2-binary" = "*"
factory-boy = "*"
drf-api-checker = ">=0.3"
django-webtest = "*"
pdbpp = "*"
"flake8" = "*"
isort = "*"

[requires]
python_version = "3.6"

[scripts]
test = "tox -e d20"
